/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;


 
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;

}

h4 {
  font-size: 1.563rem;
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

/* ============= PROJECT CSS =============== */

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.review {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--white);
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-align: center;
}
.review:hover {
  box-shadow: var(--shadow-3);
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.person-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.img-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--primary-500);
  position: absolute;
  border-radius: 50%;
  top: -0.25rem;
  right: -0.5rem;
}
.author {
  margin-bottom: 0.5rem;
}
.job {
  text-transform: uppercase;
  color: var(--primary-500);
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  letter-spacing: var(--letterSpacing);
}

.info {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  color: var(--grey-600);
}
.btn-container {
  margin-bottom: 1rem;
}
.prev-btn,
.next-btn {
  color: var(--primary-700);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

